@font-face {
    font-family: 'PP Neue Machina Plain Ulbold It';
    src: url('PPNeueMachina-PlainUltraboldItalic.woff2') format('woff2'),
        url('PPNeueMachina-PlainUltraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina Plain';
    src: url('PPNeueMachina-PlainUltrabold.woff2') format('woff2'),
        url('PPNeueMachina-PlainUltrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina Plain';
    src: url('PPNeueMachina-PlainRegularItalic.woff2') format('woff2'),
        url('PPNeueMachina-PlainRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina Plain';
    src: url('PPNeueMachina-PlainRegular.woff2') format('woff2'),
        url('PPNeueMachina-PlainRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina Plain';
    src: url('PPNeueMachina-PlainLight.woff2') format('woff2'),
        url('PPNeueMachina-PlainLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina Plain Light It';
    src: url('PPNeueMachina-PlainLightItalic.woff2') format('woff2'),
        url('PPNeueMachina-PlainLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

