:root {
  font-family: PP Neue Machina Plain;
  --container-width: 80vw;
  --video-width: 60vw;
}

body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin-bottom: 0.5rem;
}
a {
  color: gray;
  text-decoration: underline;
}
  

