:root {
  font-family: PP Neue Machina Plain;
  --container-width: 80vw;
  --video-width: 60vw;
}

body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  

