:root {
  font-family: PP Neue Machina Plain;
}

@font-face {
  font-family: "FK Grotesk"; 
  src: url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.eot"); 
  src: url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.woff") format("woff"), url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2c9987468cbccf69153556019b8c5a94.svg#FK Grotesk Monospaced") format("svg"); 
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 80vw;
  display: block;
  margin: 0 auto;
}