@font-face {
    font-family: 'Montreal';
    src: url('Montreal-Regular.eot');
    src: url('Montreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montreal-Regular.woff2') format('woff2'),
        url('Montreal-Regular.woff') format('woff'),
        url('Montreal-Regular.svg#Montreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montreal';
    src: url('Montreal-Bold.eot');
    src: url('Montreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montreal-Bold.woff2') format('woff2'),
        url('Montreal-Bold.woff') format('woff'),
        url('Montreal-Bold.svg#Montreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

